@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
}

:root {
  --header-height: 64px;
  --chat-input-height: 48px;
  font-size: 12px;
}

.m {
  margin: 0.25rem;
}

.p {
  padding: 0.25rem;
}

.p-1 {
  padding: 1rem;
}

.p-1\/2 {
  padding: 0.5rem;
}

.pxy-1\/2-1 {
  padding: 0.5rem 1rem;
}

.mr-1\/2 {
  margin-right: 0.5rem;
}

.font-2x,
.font-2x input,
.font-2x button {
  font-size: 2rem;
}

.font-1-5x,
.font-1-5x input,
.font-1-5x button {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-2 {
  padding: 2rem;
}

.icon-circle {
  position: relative;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.s-icon {
  width: 2rem;
  height: 2rem;
}

.s-icon-2 {
  width: 4rem;
  height: 4rem;
}

.s-icon-3\/2 {
  width: 3rem;
  height: 3rem;
}

.p-3\/2 {
  padding: 1.5rem;
}

.avatar {
  height: 4rem;
  flex: 0 0 4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.avatar-1\/2 {
  height: 2rem;
  flex: 0 0 2rem;
  width: 2rem;
}

.avatar-3\/4 {
  height: 3rem;
  flex: 0 0 3rem;
  width: 3rem;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.absolute-center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.d-inline-block {
  display: inline-block;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  position: relative;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex: 1 0 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.rounded {
  border-radius: 1rem;
}

.flex-0 {
  flex: 0 0;
}

.flex-1 {
  flex: 1 0;
}

.flex-1-2 {
  flex: 1 0 50%;
  max-width: 50%;
}

.flex-1\/2 {
  flex: 1 0 50%;
  max-width: 50%;
}

.flex-1-4 {
  flex: 1 0 25%;
  max-width: 25%;
}

.flex-4\/5 {
  flex: 1 0 80%;
  max-width: 80%;
}

.h-screen {
  height: 100vh;
  max-height: 100vh;
}

.of-y-a {
  overflow-y: auto;
}

.of-y-h {
  overflow-y: hidden;
}

.border {
  border: solid 1px azure;
}

.border-sub {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.chat-box {
  flex-direction: column;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.chat-box .header {
  z-index: 2;
  position: relative;
  flex: 0 0;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.chat-box .body {
  flex: 1 0;
  max-height: 100vh;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.chat-box .chat-row {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 0.15rem 0.5rem 0.15rem;
}
.text-white {
  color: white;
}
.text-main {
  color: #333333;
}

.bg-login {
  background: rgb(126, 249, 245);
  background: linear-gradient(
    349deg,
    rgba(126, 249, 245, 1) 0%,
    rgba(65, 152, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-sidebar {
  background: rgb(126, 249, 245);
  background: linear-gradient(
    190deg,
    rgb(148, 126, 249) 0%,
    rgba(65, 152, 255, 1) 69%,
    rgb(147, 81, 253) 100%
  );
}

.chat-row .text {
  display: inline;
  max-width: 60%;
  overflow-wrap: break-word;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #0077b6;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem 2rem 2rem 0.5rem;
  align-self: flex-start;
}

.text.top {
  border-radius: 2rem 2rem 2rem 0.5rem;
}
.text.top.bottom {
  border-radius: 2rem;
}
.text.bottom {
  border-radius: 0.5rem 2rem 2rem 2rem;
}

.chat-row .text:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.chat-row .text.user {
  background-color: #0077b6;
  color: white;
  border-radius: 2rem 0.5rem 0.5rem 2rem;
  align-self: flex-end;
}

.bg-gradient-main {
  background-image: linear-gradient(105deg, #009acc, #1890a098, #009acc);
}

.bg-chat-box {
  background: rgb(126, 249, 245);
  background: linear-gradient(
    150deg,
    rgb(79, 197, 193) 0%,
    rgba(65, 152, 255, 1) 49%,
    rgb(32, 194, 226) 100%
  );
}

.text.user.top {
  border-radius: 2rem 2rem 0.5rem 2rem;
}
.text.user.top.bottom {
  border-radius: 2rem;
}
.text.user.bottom {
  border-radius: 2rem 0.5rem 2rem 2rem;
}

.chat-row .text.user:hover {
  background-color: #0077b6;
  color: white;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}

.bg-main {
  background-color: #00b4d8;
}
.w-100 {
  width: 100%;
}

.bg-sub {
  background-color: #caf0f8;
}

.text.bg-main {
  color: #f5f5f5;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.1);
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}

.absolute {
  position: absolute;
}

.page.absolute {
  left: 0;
  top: 0;
  z-index: 100000;
}

.bg-white {
  background-color: white;
}

header {
  display: flex;
  position: relative;
  left: 0;
  height: var(--header-height);
  width: 100%;
}

.btn-send {
  outline: none;
  border: none;
  border-radius: 50%;
}

.btn-send:hover {
  outline-color: none;
  box-shadow: none;
}

.bg-icon-send {
  background-color: transparent;
  fill: #f5f5f5;
}

.bg-icon-send:not([disabled]):hover {
  background: #f5f5f5;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
  fill: #0077b6;
}

.bg-icon {
  background-color: transparent;
  border-color: #0077b6;
  fill: white;
}

.bg-icon:hover {
  background-color: white;
  box-shadow: #caf0f8;
  fill: #0077b6;
}

.m-0 {
  margin: 0px;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}
.mr-2 {
  margin-right: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-1\/4 {
  margin-left: 0.25rem;
}
.pl-1\/2 {
  padding-left: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}
.align-items-start{
  align-items: flex-start;
}

.send-row {
  padding: 1rem;
}

.send-row input {
  outline: none;
  border: none;
  color: #0077b6;
  padding: 0.625rem 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  background: white;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

::placeholder {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

.form-send {
  flex: 0 0;
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.mt-3 {
  margin-top: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.flex-1\/4-lg {
  flex: 1 0 25%;
  max-width: 25%;
}

.flex-1\/2-md {
  flex: 1 0 50%;
  max-width: 50%;
}

.mr-1 {
  margin-right: 1rem;
}

.form {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.signUp-form {
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 4rem;
  background-color: white;
}

.login-form {
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(4, 181, 216, 0.8);
  padding: 4rem;
  background-color: white;
}

.form h1 {
  text-align: center;
  font-family: 'Dancing Script', serif;
  margin-top: 0;
  font-size: 5rem;
}

.login-form h1 {
  background: linear-gradient(
    349deg,
    rgba(126, 249, 245, 1) 0%,
    rgba(65, 152, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signUp-form h1 {
  background: linear-gradient(-105deg, #363795, #009acc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-input {
  font-family: 'Poppins', sans-serif;
  position: relative;
  transition: 0.2s all;
  cursor: text;
  display: block;
  cursor: default;
  max-width: 300px;
}

.form-input span {
  color: #00b4d8;
  position: absolute;
  padding: 0 2px;
  font-size: 1.25rem;
  left: 1rem;
  top: -1rem;
  background-color: white;
}

.form-input input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  color: #00b4d8;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.8rem;
  border: 2px solid #00b4d8;
  margin-bottom: 2.5rem;
}
.form-input input[type='checkbox'] {
  width: auto;
  transform: scale(1.5);
  margin: 0 0.5rem;
}

.form-input input[type='checkbox'] ~ span {
  position: relative;
  font-size: inherit;
  background-color: white;
  color: inherit;
  top: 0;
  left: 0;
  cursor: pointer;
}

.btn {
  padding: 1rem 0.7rem;
  flex: 1 0 40%;
  max-width: 40%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: 0.4s ease;
  font-size: 1.5rem;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
  text-align: center;
  line-height: 1.5rem;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.form .btn {
  border: solid 2px #00b4d8;
}

.btn-main {
  color: white;
  border: none !important;
}

.btn-sub {
  color: #00b4d8;
  background: white;
}

.btn:hover {
  transform: scale(1.1);
}

.justify-content-evenly {
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
  box-shadow: none;
}

.p-3 {
  padding: 3rem;
}

.text-capitalize {
  text-transform: capitalize;
}

#heart {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dashoffset: 400;
  stroke-dasharray: 400;
  /*animation: stroke 0.5s ease-in-out;*/
  animation: stroke 3s ease-in-out infinite alternate;

  stroke: #00b4d8;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.max-3\/2 {
  max-width: 3rem;
  max-height: 3rem;
}

/* SVG spinner icon animation */
.spinner {
  animation: rotate 2s linear infinite;
  width: 3rem;
  height: 3rem;
}
.spinner .path {
  stroke: #0077b6;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
.spinner.white .path {
  stroke: white;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.form-input input:-webkit-autofill,
.form-input input:-webkit-autofill:hover,
.form-input input:-webkit-autofill:focus,
.form-input input:-webkit-autofill:active,
.form-input textarea:-webkit-autofill,
.form-input textarea:-webkit-autofill:hover,
.form-input textarea:-webkit-autofill:focus,
.form-input select:-webkit-autofill,
.form-input select:-webkit-autofill:hover,
.form-input select:-webkit-autofill:focus {
  border: 2px solid #00b4d8;
  -webkit-text-fill-color: inherit;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
